<h3>
Add User
</h3>
<form [formGroup]="addForm">
    <div class="form-group">
        <input type="text" class="form-control" placeholder=" Name" formControlName="name" >
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group">
        <select class="form-control" placeholder="language" formControlName="language">
          <option *ngFor="let lang of languages" [value]="lang">{{lang}}</option>
        </select>
    </div>
    <div class="form-group">
        <input type="file" class="form-control" placeholder="profileImage" 
            formControlName="profileImage" (change)="onImageSelected($event)">
    </div>
    <br/>
    <div class="align-center">
        <button type="submit" class="btn btn-default" (click)="addUser()">Add user</button>
    </div>
</form>
